<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Police Tenant Verification Portal</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

  <nav class="bg-white p-4 rounded-4xl text-center fixed w-full top-0">
    <span class="text-black font-bold text-lg">Police Tenant Verification Portal </span>
  </nav>

  <p></p>
  <div class="container mx-auto">
    <div id="object1" class=" flex-row">
      <video width="320" class="m-2 h-64" autoplay id="video" #video></video>
      <canvas width="320" height="255" id="canvas" #canvas></canvas>
    </div>
  </div>


  <div class="container mx-auto my-8" id="object2">
    <button class="bg-blue-500 m-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="start-camera"
      (click)="startCamera()">Start Camera</button>
    <button class="bg-blue-500 m-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="click-photo"
      (click)="clickPhoto()">Click Photo</button>

    <div class="container mx-auto mt-4 p-8 bg-white shadow-lg rounded-lg max-w-md">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Upload Aadhaar Card
          <div class="relative">
            <input
              class="appearance-none border border-gray-300 rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
              type="file" accept="application/pdf" id="Aadhaar" name="filename">
            <span class="ml-3 absolute inset-y-0 right-0 flex items-center">
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" id="myButton"
                (click)="openURL();stopCamera();">Proceed</button>
            </span>
          </div>
        </label>
      </div>


    </div>
  </div>

  <div id="data" class="container" style="display: none">
    <table style="max-width:100%" id="displaytable">
      <tr>
        <th> Particulars</th>
        <th> Digilocker Data</th>
        <th> Details read from Aadhaar card</th>
        <th> Verifcation Result</th>
      </tr>
      <tr>
        <th>Tenant Photo</th>
        <th>
          <img
            src="https://persist.signzy.tech/api/files/256208965/download/532908199c354224af70bf190a35907315b26a684e454216997bda698250a3c7.jpeg"
            #displayUserDigilockerPhoto />
        </th>
        <th>
          <img [src]="userProvidedPhotoSRC" id="displayUserProvidedPhoto" height="200" #displayUserProvidedPhoto />
        </th>
        <th style="color: green; font-size: 40px;"> 91%</th>
      </tr>

      <tr *ngFor="let user of userDetails.keys()">
        <th>{{ user }}</th>
        <th>{{ userDetails.get(user) }}</th>
        <th>{{ userDetails.get(user) }}</th>
        <th style="color: green"> Matched</th>
      </tr>
      <tr>
        <th>Criminal Record Status (Alert Level)</th>
        <th></th>
        <th></th>
        <th style="color: red"> Very High</th>
      </tr>
      <tr>
        <th>Criminal Record Status through E-courts (Alert Level)</th>
        <th></th>
        <th></th>
        <th style="color: red"> Very High</th>
      </tr>
      <tr>
        <th>Criminal Record Status through Tribunals (Alert Level)</th>
        <th></th>
        <th></th>
        <th style="color: green"> No Records Found</th>
      </tr>
      <tr>
        <th>Criminal Record Status through Defaulters List (Alert Level)</th>
        <th></th>
        <th></th>
        <th style="color: green"> No Records Found</th>
      </tr>
      <tr>
        <th>Criminal Record Status through CCTNS/ICJS (Alert Level)</th>
        <th></th>
        <th></th>
        <th style="color: green"> No Records Found</th>
      </tr>
    </table>
    <div style="text-align: center;" id="mapholder"></div>
    <h1 style="color: green">Crime Check Verification Report through E-courts</h1>

    <!-- <h2>HTML Table</h2> -->

    <h2>Court Lists</h2>

    <table>
      <tr>
        <td><b>General Courts</b></td>
      </tr>
      <tr>
        <th>Courts</th>
        <th>Jurisdiction</th>
        <th>Case Since</th>
        <th>Status</th>
      </tr>

      <tr>
        <td>All High Courts</td>
        <td>Appellate jurisdiction and Writ jurisdiction</td>
        <td>2000
        </td>
        <td>1 Case found</td>
      </tr>

      <tr>
        <td>Civil Courts - Junior Civil Court, Senior Civil Court, District Court</td>
        <td>All district court civil matters, relating to property, civil rights, specific relief, tortious liabilities,
          damages, testamentary wills & titles.</td>
        <td>2000
        </td>
        <td>12 Case found</td>
      </tr>

      <tr>
        <td>Criminal Courts - Magistrate courts & Session courts</td>
        <td>All district court criminal matters</td>
        <td>2000
        </td>
        <td>27 Case found</td>
      </tr>

      <tr>
        <td>Supreme Court</td>
        <td>Apex court of India, deals with all the final appeal cases from High Courts and various Tribunals in India,
          also
          has Writ Jurisdiction and exercises various constitutional powers.</td>
        <td>1947
        </td>
        <td>No Case found</td>
      </tr>


      <tr>
        <td><b>Tribunals</b></td>
      </tr>

      <tr>
        <td>Consumer Courts</td>
        <td>National, State and District Court forums.</td>
        <td>2000
        </td>
        <td>1 Case found</td>
      </tr>

      <tr>
        <td>CEGAT/CESTAT</td>
        <td>CEGAT is disbanded after the repealing of Gold Control Act, CESTAT is the only functioning tribunal, it is
          the
          highest tribunal with respect to Indirect taxes and the appeals beyond it lays to Supreme Court.</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>Debt Recovery Tribunal(DRT)</td>
        <td>All Monetary debts incurred by the Banks and other NBFC's against any person OR Company, DRT is the
          Adjudicating
          body</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>Debt Recovery Appellate Tribunal(DRAT)</td>
        <td>It takes all appeal matters arising out of DRT (For explanation reffer DRT)</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>Income Tax Appellate Tribunal (ITAT)</td>
        <td>It takes all appeal matters arising out of the decisions ruled by the Commissioner of Income Tax</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>


      <tr>
        <td>National Company Law Tribunal(NCLT)</td>
        <td>Deals with Liquidation, Winding up, Amalgamation., oppression and mismanagement in a Company and any
          deviance
          with
          respect to Memorandum of Association & Articles of Associations.</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>


      <tr>
        <td>Securities Apellate Tribunal(SAT)</td>
        <td>All appeals from SEBI lies before SAT, it is the appellate authority under SEBI and SARFESI Act. It is
          purely
          Civil in nature, it deals with appeals relating to Stocks and Securities defaults by Companies and other
          Business
          Establishments.</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>National Green Tribunal(NGT)</td>
        <td>The Tribunal deals with matters relating to Environmental Hazards affecting Environment, Public Health,
          Property
          and related effects, It does not fall unders the Purview of Civil Judicature</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>NCLAT</td>
        <td>Deals with all the appeals arising out of the National Company Law Tribunal (NCLT) and Insolvency and
          Bankruptcy
          Code (IBC 2016). Further appeals preferred (if any) against the rulings of the NCLAT are directly heard by The
          Supreme Court of India</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>Appellate Tribunal for Foreign Exchange - APTE</td>
        <td>The Appellate Tribunal for Foreign Exchange, also known as the FEMA Tribunal, was established under the
          Foreign
          Exchange Management Act, 1999. Under FEMA, the order of adjudication is to be made by the 'Adjudicating
          Authority
          which is subject to challenge before the Special Director (Appeals). Appeal against the order of the Special
          Director (Appeals), or in the case where one of the Special Directors is the 'Adjudicating Authority, is
          before
          the
          "Appellate Tribunal for Foreign Exchange"</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>


      <tr>
        <td>Others</td>
        <td>Appellate Tribunal for Electricity (APTEL),Armed Forces Tribunal,Authority for Advanced Rulings
          (AAR),Central
          Administrative Tribunal (CAT),Central Electricity Regulatory Commission (CERC),Central Information Commission
          (CIC),Central Sales Tax,Company Law Board,Competition Appellate Tribunal,Competition Commission of
          India,Copyright
          Board,Cyber Appellate Tribunal,Intellectual Property Appellate Board (ITAB),State Taxation Tribunal
          (STT),Trade
          Mark,Telecom Disputes Settlement and Appellate Tribunal</td>
        <td>2000
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td><b>Defaulter Lists</b></td>
      </tr>

      <tr>
        <td>CIBIL Willful defaulter List amounting to above Rs. 25 Lakhs</td>
        <td>All credit base institutions who have default of payments</td>
        <td>2012
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>Crif Defaulter List</td>
        <td>The list provides all the credit related information including any credit based defaults and credit reports
          on
          individuals and companies</td>
        <td>2012
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>EPF Defaulter List</td>
        <td>Defaulter list where the establishments have failed to abide by the provisions of Employees Provident Funds
        </td>
        <td>2012
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>Equifax Defaulter List</td>
        <td>All credit base institutions who have default of payments mounting to above Rs. 1 Crore</td>
        <td>2012
        </td>
        <td>No Case found</td>
      </tr>

      <tr>
        <td>MCA Defaulter List</td>
        <td>Defaulter list where the establishments have failed to clear the debts to the debtors OR stakeholders of the
          establishment.</td>
        <td>2016
        </td>
        <td>No Case found</td>
      </tr>


      <tr>
        <td><b>Others</b></td>
      </tr>

      <tr>
        <td>First Information Report(FIR)</td>
        <td>All Cognizable and non-bailable offences registered u/s 154 of the Code of Criminal Procedure, 1973 by the
          law
          enforcement authorities.</td>
        <td>2011
        </td>
        <td>No Case found</td>
      </tr>


    </table>
<h1>Records Found</h1>
<table>
  <tr>
    <th>Case Details</th>
    <th>Petitioner</th>
    <th>Respondent</th>
    <th>Status</th>
    <th>Match Summary</th>
  </tr>
  <tr>
    <td>
      <p>BRKM020003462012 (Link)<br>
        Court: C J M Division <br>Act & Section: U/S 341, 323 , 326, 504, 506, 34, Indian Penal Code<br>Case Type:
        Criminal</p>
    </td>
    <td>State of Bihar</td>
    <td>Sanjay Kumar Singh 1) Name: Sanjay Kumar Singh<br>Address:Vill- Medana, P.S. Sasaram , Rohtas</td>
    <td>Pending</td>
    <td><b>98%</b> match with name full match + fatherName ExactMatch + address CloseMatch</td>
  </tr>
  <tr>
    <td>
      <p>BRRO020000842015 (Link)<br>
        Court: CJM Div. Rohtas <br>Act & Section: U/S 341, 323 , 379, 504, 509, 34, Indian Penal Code<br>Case Type:
        Criminal</p>
    </td>
    <td>Binda Devi</td>
    <td>Sanjay Singh and others 1) Name: Sanjay Singh and others<br>Address:Vill-Shumbha, P.S.- Sasaram Mufassil,
      Distt-Rohtas.</td>
    <td>Disposed</td>
    <td><b>98%</b> match with name full match + fatherName ExactMatch + address CloseMatch</td>
  </tr>


  <tr>
    <td>
      <p>BRRO020126932016 (Link)<br>
        Court: Complex 1 CJM Division <br>Act & Section: U/S 30(a), 37(b), Excise Act (Bihar) <br>Case Type:
        Criminal
      </p>
    </td>
    <td>State of Bihar</td>
    <td>sANJAY sINGH 1) Name: sANJAY sINGH<br>Address:Kuraich Mahaveer asthan, Sasaram Town, Rohtas.</td>
    <td>Pending</td>
    <td><b>98%</b> match with name full match + fatherName ExactMatch + address CloseMatch</td>
  </tr>

  <tr>
    <td>
      <p>BRRO030005922012 (Link)<br>
        Court: Complex 1 CJSD Division <br>Act & Section: U/S 10, Civil Procedure Code <br>Case Type: Civil</p>
    </td>
    <td>Jagi Khatik and others</td>
    <td>Sanjay kumar Singh and others 1) Name:Sanjay kumar Singh and others
      <br>Address:Village- Gajradh Sasaram, P.s- Sasaram ,P.o- Sasaram ,Dist- Rohtas
    </td>
    <td>Disposed</td>
    <td><b>98%</b> match with name full match + fatherName ExactMatch + address CloseMatch</td>
  </tr>

</table>

  </div>
</body>

</html>